/* RESET */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0084fd;
    height: 76px;
}

section:nth-last-of-type(odd){
    background-color: #9792e4;
}

.flex{
    display: flex;
}

.container{
    width: 83%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    color: #ffffff;
    font-size: 1.5rem;
}

.menu{
    display: none;
}

.big-card,
.card{
    border-radius: 30px;
    background-color: #b5ddff;
}

.big-card i,
.card i{
    color: #0084fd;
    font-size: 3rem;
}

.big-card button i,
#about-us button i{
    color: #ffffff;
    font-size: 1rem;
}

.big-card img{
    width: 90%;
}



@media screen and (min-width: 480px) {

}



@media screen and (min-width: 768px) {
    .container{
        max-width: 1140px;
    }

    .menu-icon{
        display: none;
    }

    .menu{
        display: flex;
    }
}