/* RESET */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** GENERAL */

body{
    font-family: 'PT Sans', sans-serif;
}

li{
    list-style-type: none;
    color: #ffffff;
    margin: 0 1rem;
}

li a{
    text-decoration: none;
    color: #ffffff;
}

header{
    background-color: #0084fd;
    height: 76px;
    align-items: center;
}

h1{
    color: #9792e4;
    font-size: 3rem;
}

h2{
    font-size: 2.2rem;
    color: #ffffff;
    text-align: center;
}

h3{
    font-size: 1.45rem;
    color: #0084fd;
    margin: 1.6rem 0;
}

section:nth-last-of-type(odd){
    background-color: #9792e4;
}

.cards,
.strategy,
.benefits,
.testimonials{
    padding: 3rem 0 4rem;
    gap: 1.5rem;
}

button{
    color: #ffffff;
    border:none;
    font-size: .9rem;
    border-radius: 30px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 83%;
    margin: 0 auto;
    justify-content: space-between;
}

img{
    width: 100%
}

p{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: #ffffff
}

footer{
    background-color: #333333;
}

/*#############################################################
NAV 
#############################################################*/

.menu-icon{
    color: #ffffff;
    font-size: 1.5rem;
}

.menu{
    align-items: center;
    display: none;
}

.menu button{
    background-color: #ffffff;
    color: #111111;
    padding: .3rem .5rem;
    margin-left: .5rem;
}

/*#############################################################
CARDS
#############################################################*/
.big-card{
    padding: 0 2rem;
}

.big-card button{
    margin: 1.5rem 0;
    background-color: #0084fd;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: .75rem 3rem;
}

.small-card{
    padding: 2rem;
    text-align: center;
}

.card-text{
    color: #5a6e7f;
}

.big-card,
.small-card{
    border-radius: 20px;
    background-color: #b5ddff;
}

.small-card i{
    color: #0084fd;
    font-size: 5rem;
}

.big-card button i,
#about-us button i{
    color: #ffffff;
    font-size: 1rem;
}

.big-card img{
    margin: 0 auto;
}

/*#############################################################
STRATEGY
#############################################################*/

.developement{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 2rem 1.5rem;
    justify-content: center;
}

.planning h2{
    margin: 5rem 0 3rem
}

.developement h3{
    color: #111111;
}

.planning-text{
    font-weight: 400;
}

.developement-text{
    text-align: center;
    color: #111111;
    font-weight: 600;
    font-style: italic;
}

.trigger{
    background-color: #9792e4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/*#############################################################
TESTIMONIALS
#############################################################*/

.testimonials{
    justify-content: center;
}

.subtitle{
    font-size: 1rem;
}

.testimonials-text{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    margin: .5rem 0 2rem;
}

.testimonials h2{
    color: #9792e4;
    text-align: center;
}

.testimony{
    background-color: #9792e4;
    border-radius: 50px;
    text-align: center;
    padding: 2.5rem 1.2rem 1rem;
    color:#b5ddff;
    justify-content: center;
}

.testimony .col-w-70{
    position: relative;
    max-width: 90%;
}

.testimony-text{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-indent: 1.5rem;
}

.enormous-text-open,
.enormous-text-close{    
    position: absolute;
    font-family: 'BIZ UDMincho', serif;
    color: #ffffff;
    font-size: 3rem;
}

.enormous-text-open{    
    line-height: 0;
    margin-left: -1.75rem;
    transform: rotate(180deg);
}

.enormous-text-close{    
    line-height: 3rem;
    text-indent: 0rem;
}



.names{
    font-size: 1.2rem;
    margin: 1.5rem auto 1rem;
    text-transform: uppercase;
}

.circular-img img{
    width: 210px;
    height: 210px;
    border-radius: 50%; 
    object-fit: cover;
}

/*#############################################################
BENEFITS
#############################################################*/
.benefits h2{
    text-align: center;
}

.benefit-cards{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 3rem 2rem 1rem;
}

.benefit-number,
.benefit-title{
    color:#9792e4;
    font-weight: 600;
}

.benefit-number{
    font-size: 3.5rem;
}

.benefit-title{
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem;
}

.benefit-description{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #5a6e7f;
    margin: 1.5rem 0;
}

.benefit-button{
    background-color: #9792e4;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: .75rem 3rem;
}

/*#############################################################
ABOUT US
#############################################################*/
.about-us{
    padding: 5rem 0 4rem;
}

.about-us-text{
    color: #111111;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 1rem 0 2rem;
}

.about-us h2{
    font-size: 1.8rem;
    color: #9792e4;
    margin: 1.5rem 0;
    text-align: left;
}

.about-us button{
    background-color: #9792e4;
    font-size: 1rem;
    padding: .5rem 1rem;
}

.col-w-220{
    width: 100%;
}

.about-us .enormous-text-open{
    position: absolute;
    color: #9792e4;
    font-size: 10rem;
    line-height: 0;
    right: 0;
}

/*#############################################################
GET STARTED
#############################################################*/
.get-started{
    padding: 4rem 0;
    text-align: center;
}

.get-started .subtitle{
    color: #ffffff;
}

.get-started h2{
    margin: 1rem 0 2rem;
}

.free{
    font-size: 5rem;
    color: #fdc15f;
    line-height: 5rem;
}

.get-started-text{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #ffffff;
    margin: 1.5rem 0;
}

.get-started button{
    color: #9792e4;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .2rem;
    padding: 1rem 4rem;
}

.copyright{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 1.5rem
}

.copyright a{
    color: #ffffff;
}

footer .container,
.get-started{
    flex-direction: column;
    align-items: center;
}

/*#############################################################
FOOTER
#############################################################*/
.footer-text{
    font-weight: 400;
    font-size: .9rem;
    padding: 2rem 0 1rem;
    text-align: center;
}

.footer-text a{
    color: #9792e4;
}


@media screen and (min-width: 480px) {
.container{
    width: 90%;
}

.big-card{
    width: calc((100% / 3) * 2 - .5rem);
    justify-content: flex-start;
}

.big-card img{
    width: 60%;
    margin:0;
}

.small-card{
    width: calc(( 100% / 3 ) - 1rem);
}

.planning h2{
    font-size: 4rem;
}

.testimonials{
    flex-direction: column;
    align-items: center;
}

.testimony{
    flex-wrap: wrap;
}

.testimony-text{
    text-align: left;
    padding: 0 2rem;
    line-height: 2rem;
}

.names{
    padding: 0 2rem;
}

.testimony .col-w-30{
    width: 200px;
}

.col-w-70{
    width: calc(100% - 220px);
    text-align: left;
}

.testimony{
    padding: 1rem;
}

.testimony .testimony-text,
.testimony .names{
    margin: 1rem 0;
}

.testimony .col-w-70{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.benefit-cards{
    width: calc((100% / 2) - 1.5rem);
}

.about-us .col-w-70{
    width: 50%;
}

.about-us .col-w-30{
    width: 35%;
}

.col-w-220{
    width: 220px;
}

.get-started-text{
    width: 70%;
}

.footer-text{
    width: 55%;
}

footer .container,
.get-started{
    flex-direction: column;
    align-items: center;
}

.get-started button{
    min-width: 260px;
    max-width: 40%;
}

.about-us .circular-img{
    position: relative;
}

}

@media screen and (min-width: 768px) {
    .container{
        max-width: 1140px;
    }

    .menu-icon{
        display: none;
    }

    .menu{
        display: flex;
    }

    .big-card{
        width: calc((100% / 3) * 2 - .5rem);
    }

    .big-card .demo{
        width: 50%;
        align-items: flex-start; 
    }

    .big-card .demo-img{
        width: 40%;
        align-items: flex-end;
    }

    .demo-img img{
        width: 90%;
    }

    .strategy{
        justify-content: center;
        align-items: flex-end;
    }

    .planning,
    .developement{
        width: 30%;
    }
    
    .planning h2{
        font-size: 2rem;
    }

    .developement h3,
    .developement .trigger{
        margin: .5rem 0;
    }

    .benefits h2{
        width: 100%;
        padding-bottom: 2rem;
    }

    .benefit-cards{
        width: calc((100% / 3) - 1rem);
    }
}

.about-us .col-w-70{
    width: 60%;
}

.about-us .col-w-30{
    width: 30%;
    justify-content: end;
}

.col-w-220{
    width: 220px;
}